.sevenDay{
    display: grid;
    grid-template-columns: repeat(8,60px);
    grid-gap: 5px;
    margin-left: 15px;
    overflow: scroll;
    margin-top: 7px;
    /* border: 1px solid red; */
    height:135px;
    width: 313px;
  }
/* .sevenDay::-webkit-scrollbar{
  height: 6px;
  width: 0px;  
}
.sevenDay::-webkit-scrollbar-track {
  background: white;
}
.sevenDay::-webkit-scrollbar-thumb {
  background-color: gray;  
  border-radius: 40px;       
} */
  /* color of the scroll thumb */
/* roundness of the scroll thumb */


  /* .sevenDay div{
    border: 1px solid green;
  } */
  /* .sevenDay div:nth-child(1) {
    background-color: #fffdf7 !important;
    border: 3px solid #00a6fa !important;
  } */
 
  .sevenDay div p:nth-child(1){
    font-size: 13.5px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .sevenDay div span:nth-child(2){
    font-size: 14.5px;
    font-weight: 700;
    margin-left: 10px;
  }
  .sevenDay div span:nth-child(3){
    font-size: 14.5px;
    text-align: center;
  }
  .sevenDay div img{
    width: 25px;
    margin-left: 16px;
    margin-top: 7px;
  }
  .sevenDay div p:nth-child(5){
    font-size: 12.3px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    /* border: 1px solid red; */
  }
  .individual{
    cursor: pointer;
    height: 117px;
    margin-top: 2px;
  }
  