.info{
  background-color: #8bd3e2;
  width: 580px;
  height: 670px;
  margin-left: 100px;
  margin-top: 10px;
  padding-top: 40px;
}
.iframe{
  width: 550px;
  height: 510px;
  /* frameborder: 0;  */
  border : 0;
  /* allowfullscreen: true */
}
.inDiv{
  margin: auto;
  padding-top: 20px;
  background-color: white;
  width: 60%;
  height: 94%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 30px;
}
.searchBox{
  margin-left: 15px;
  border-radius: 10px;
  width: 90%;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input{
  height: 30px;
  width: 60%;
  margin-left: 60px;
}
input:focus{
  outline: none;
}
.graphs{
  margin: auto;
  height: 420px;
  width: 90%;
  margin-top: 150px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}