.App{
  display: flex;
}
.info{
  background-color: #8bd3e2;
  width: 580px;
  height: 670px;
  margin-left: 100px;
  margin-top: 10px;
  padding-top: 40px;
}
.iframeBox{
  width: 550px;
  height: 510px;
  border : 0
}
.inDiv{
  margin: auto;
  padding-top: 20px;
  background-color: white;
  width: 60%;
  height: 94%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 30px;
}
.searchBox{
  display: flex;
  margin-left: 17.5px;
  border-radius: 10px;
  width: 90%;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input{
  margin-top: 9px;
  margin-left: 10px;
  border: none;
}
input:focus{
  outline: none;
}
.graphs{
  margin: auto;
  height: 420px;
  width: 90%;
  margin-top: 150px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.location{
  height:19px;
  margin-left: 20px;
  margin-top: 9px;
}
.searchIcon{
  margin-top: 11px;
  margin-left: 70px;
}

.box{
  display: flex;
  width: 1360px;
  height: 550px;
  background-color:lavender;
  border-radius: 10px;
  margin-top: 30px;
}
.map{
  width: 550px;
  height: 510px;
  margin-left: 100px;
  margin-top: 105px;
}
.weather{
  width: 720px;
  height: 520px;
  /* border: 1px solid red; */
  margin-top: 20px;
  border-radius: 10px;
}
.weather h1{
  text-align: center;
  margin-top: 2px;
}
.detail{
  display: flex;
}
.detail div{
  /* border: 1px solid red; */
  width: 100px;
  margin-left: 15px;
  border-radius: 15px;
  background-color:violet;
}
.sevenData{
  display: grid;
  grid-template-columns: repeat(7,auto);
  grid-gap: 26px;
  /* border: 1px solid red; */
  background-color: black;
  color: white;
  margin-left: 15px;
  border-radius: 10px;
}
.weather #title{
  text-align: center;
}
.sevenData div{
  /* border: 1px solid blue; */
  text-align: left;
}
.sevenData div img{
  height: 50px;
  width: 50px;
}