@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

body{
  background-color: black; 
  overflow: hidden; 
}

  
.permission{
  margin-top: 150px;
  text-align: center;
  color: white;
}
.App{
  display: flex;
  background-size: cover;
  /* background: url("https://source.unsplash.com/800x1500/?nature,water"); */
}
.info{
  /* background-color: #8bd3e2; */
  width: 580px;
  height: 750px;
  /* margin-left: 220px; */
  /* margin-top: 10px; */
  padding-top: 12px;
}
.map{
  width: 470px;
  height: 430px;
  margin-left: -20px;
  margin-top: 145px;
}
.iframeBox{
  width: 470px;
  height: 430px;
  border : 0
}
.inDiv{
  z-index: 1;
  margin: auto;
  padding-top: 20px;
  background-color: white;
  width: 60%;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 30px;
}
.searchBox{
  display: flex;
  margin-left: 17.5px;
  border-radius: 10px;
  width: 90%;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input{
  margin-top: 9px;
  margin-left: 10px;
  border: none;
}
input:focus{
  outline: none;
}
input[type="text"]{
  font-size:14px;
  font-weight: 600;
}
.location{
  height:19px;
  margin-left: 20px;
  margin-top: 9px;
}
.searchIcon{
  /* width: 30px; */
  padding: 5px;
  margin-top: 6px;
  margin-left: 45px;
  cursor: pointer;
  /* border: 1px solid red; */
}

.locationInSearchResult{
  height: 17px;
 margin-left: 10px;
}
.searchResultBox{
  position: absolute;
  z-index: 2;
  /* border: 1px solid red; */
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  width: 312px;
  height: 390px;
  margin-left: 1.2%;
  overflow: scroll;
}
.searchResultBox::-webkit-scrollbar{
  height: 0px;
  width: 6px;  
}
.searchResultBox::-webkit-scrollbar-track {
  background: white;
}
.searchResultBox::-webkit-scrollbar-thumb {
  background-color: gray;    /* color of the scroll thumb */
  border-radius: 40px;         /* roundness of the scroll thumb */ 
}

.searchResultItem{
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  color: dodgerblue;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 5px;
  justify-content:space-between
}


/* .sevenDay{
  display: grid;
  grid-template-columns: repeat(8,60px);
  grid-gap: 5px;
  margin-left: 15px;
  overflow: scroll;
}
.sevenDay div{
  border: 1px solid green;
}
.sevenDay div p:nth-child(1){
  font-size: 13.5px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}
.sevenDay div span:nth-child(2){
  font-size: 14.5px;
  font-weight: 700;
  margin-left: 10px;
}
.sevenDay div span:nth-child(3){
  font-size: 14.5px;
  text-align: center;
}
.sevenDay div img{
  width: 25px;
  margin-left: 16px;
  margin-top: 7px;
}
.sevenDay div p:nth-child(5){
  font-size: 12.3px;
  text-align: center;
  margin-top: 2px;
} */


.graphs{
  margin: auto;
  height: 458px;
  width: 90%;
  margin-top: 17px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.TempImg{
  display: flex;
  /* border: 1px solid red; */
}
.TempImg div:nth-child(1) {
  font-size: 37px;
  font-weight: 700;
  margin-left: 18px;
  padding-top: 3px;
}
.TempImg div:nth-child(2) {
  /* border: 1px solid red; */
  width: 50px;
  height:45px;
  margin-left: 17px;
  margin-top: 8px;
}
.TempImg div:nth-child(2) img{
  width: 42px;
}
.graphDiv{
  /* border: 1px solid yellow; */
  margin-top: -10px;
  margin-left: 5px;
}

.pressureHumidity{
  /* border: 1px solid red; */
  display: flex;
  height: 40px;
}
.pressureHumidity div{
  background-color: #f3fbff;
}
.pressureHumidity div:nth-child(1) {
  width: 39%;
  margin-left: 15px;
  padding-left: 13px;
}
.pressureHumidity div:nth-child(2) {
  width: 39%;
  margin-left: 15px;
  padding-left: 13px;
}
.pressureHumidity div:nth-child(1) p:nth-child(1) {
  margin-top: 0px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 13.8px;
}
.pressureHumidity div:nth-child(2) p:nth-child(1) {
  margin-top: 0px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 13.8px;
}
.pressureHumidity div:nth-child(1) p:nth-child(2) {
  margin-top: -10px;
  font-family: sans-serif;
  font-size: 12.4px;
}
.pressureHumidity div:nth-child(2) p:nth-child(2) {
  margin-top: -10px;
  font-family: sans-serif;
  font-size: 12.4px;
}
.coloursDiv{
  display: flex;
  height: 100px;
  /* border: 2px solid red; */
  padding-left: 30px;
}
.coloursDiv2{
  display: flex;
  height: 100px;
  /* border: 2px solid red; */
  padding-left: 30px;
  
}
.color{
  display: table-cell;
  width: 27px;
  height: 27px;
  margin: 0 1px;
  cursor: pointer;
  border: 2px solid #FFF;
}
.clr11{
  background-color: black;
}
.clr22{
  background-color: #9B0FDB;
}
.clr33{
  background-color: #ffea00;
}
.clr44{
  background-color: #04DB53;
}
.clr55{
  background-color: #0F68DB;
}
.clr1{
  background: url("https://source.unsplash.com/800x1500/?nature,water");
}
.clr2{
  background: url("https://source.unsplash.com/800x1500/?nature,water");
}
.clr3{
  background: url("https://source.unsplash.com/800x1500/?nature,water");
}
.clr4{
  background: url("https://source.unsplash.com/800x1500/?nature,water");
}
.clr5{
  background: url("https://source.unsplash.com/800x1500/?nature,water");
}
.txt{
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 13px;
}
.timeArea{
  display: flex;
  /* border: 1px solid green; */
  width: 257px;
}
.time{
  color: white;
  font-size: 40px;
  font-weight: 100;
  /* border: 1px solid red; */
  width: 140px;
}
.am-pm{
  font-size: 20px;
  margin-left: 5px;
}
.place-container{
  /* padding-top: 10px; */
  color: white;
  margin-left: 6px;
  /* border: 1px solid red; */
}
.time-zone{
  font-size: 15px;
  font-weight: 100;
}
.country{
  font-size: 8px;
  font-weight: 700;
  text-align: end;
}
.date{
  color: white;
  font-size: 20px;
  font-weight: 100;
}
.mobileControl{
  font-family: 'Poppins', sans-serif;
  background: url('https://images.unsplash.com/photo-1621274403997-37aace184f49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
  background-repeat: no-repeat;
  background-size: cover;
  width: 223px;
  height: 380px;
  border: 4px solid black;
  /* margin-left: 80px; 
  margin-top: 163px; */
  color: white;
  padding: 15px 17px;
  border-radius: 15px;
  overflow: hidden;
}
.blackDesign{
  /* border: 1px solid red; */
  height: 18px;
  width: 105px;
  margin: auto;
  margin-top: -19px;
  background-color: black;
  border-radius: 8px;
}
.whiteBorder{
  border: 1px solid white;
  width: 265px;
  height: 419px;
  margin-left: 80px; 
  margin-top: 151px;
  border-radius: 15px;
}
.dynamic{
  margin-top: 50px;
  font-size: 16px;
  text-align: center;
  color: black;
  font-weight: bold;
}
.plain{
  margin-top: -30px;
  font-size: 16px;
  text-align: center;
  color: black;
  font-weight: bold;
}
.loader{
  margin: auto;
  margin-top: 150px;
  width: 350px;
  /* border: 1px solid red; */
}
.loader-text{
  margin-left: 100px;
  text-align: center;
  color: white;
  font-size: 16px;
}